
<!-- <div class="container">
<div class="row">

      <app-mission *ngFor="let satelliteEl of satellites;
      let i=index" [satellite]="satelliteEl"
     [index]=i >
      </app-mission>

</div>
</div> -->

<!-- <div class="grid-container">
  <div class="row">
        <app-mission *ngFor="let satelliteEl of satellites;
        let i=index" [satellite]="satelliteEl"
       [index]=i >
        </app-mission>
  </div>
  </div> -->
<div class="main">
  <ul class="cards">

          <app-mission *ngFor="let satelliteEl of satellites;
          let i=index" [satellite]="satelliteEl"
         [index]=i >
          </app-mission>

        </ul>
  </div>

