<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <h5 class="">Filters</h5>
        <h6 class="text-center">Launch Year</h6>
        <hr />

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2006
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2007
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2008
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2009
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2010
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2011
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2012
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2013
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2014
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2015
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2016
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2017
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2018
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2019
            </button>
          </span>
        </div>

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onYearClick($event)">
              2020
            </button>
          </span>
        </div>

        <h6 class="text-center pt-3">Successful Launch</h6>

        <hr />

        <div class="align-buttons">
          <span>
            <button class="btn btn-success" (click)="onSuccessLaunch($event)">
              True
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onSuccessLaunch($event)">
              False
            </button>
          </span>
        </div>

        <h6 class="text-center pt-3">Successful Landing</h6>

        <hr />

        <div class="align-buttons pb-4">
          <span>
            <button class="btn btn-success" (click)="onSuccessLanding($event)">
              True
            </button>
          </span>
          <span>
            <button class="btn btn-success" (click)="onSuccessLanding($event)">
              False
            </button>
          </span>
      </div>
    </div>
  </div>
</div>
